
$headerTitleColor:#fff;
//priceColor
$priceColor:#000;
$priceDiscountColor:#bb051c;
//buttons
$buttonDefaultBg:#e5e6e7;
$buttonDefaultBgHover:#dadbdd;
$buttonDefaultColor:#000;
$buttonColorBg:#bc0015;
$buttonColorBgHover:#a40010;
$buttonColorColor:#fff;
//filters
$filtersBg:#f0f1f3;

$dividerColor:#ccc;
$oldPriceColor:#666;

@mixin centered($axis: 'both') {
  position: absolute;
  @if $axis=='x' {
    left: 50%;
    transform: translateX(-50%);
  }
  @if $axis=='y' {
    top: 50%;
    transform: translateY(-50%);
  }
  @if $axis=='both' {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
//sprite
@import 'common/sprite-img';
//checkbox
@import 'common/custom-checkbox-settings';
//header
@import 'common/_header';
@import 'common/tabs';

.ymaps-2-1-50-image {
	background-size: auto !important;
	background-position: 0 -80px !important;
}
.main{
    padding-top: 30px;
    @media(max-width: 480px){
        margin:0 -14px;
    }
}
input{
	outline: none;
}
.select{
	cursor: pointer;
	max-width: 378px;
}
.selectize-control.single .selectize-input:after{
    border-color: #000 transparent transparent;
}
.selectize-control.single .selectize-input{
	border: 1px solid #e4e5e6;
	background-image: none;
	background-color: #fff;
	box-shadow: none;
}
.option{
	color:#000;
}
.option.active{
	background-color: #f5f5f5;
	color:#000;
}
.selectize-dropdown.single{
	border: 1px solid #e4e5e6;
}
.selectize-dropdown [data-selectable]{
	padding: 8px;
}
a{

color: #bb162b;
font-size: 0.875rem;
font-weight: 400;
text-decoration: underline;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40%{
  	transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 50% {
    transform: translate3d(-5px, 0, 0);
  }

  30%, 70% {
    transform: translate3d(5px, 0, 0);
  }

}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
 @keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
 @keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;

  }
}

@media(max-width: 998px) {
    @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: .8;
    }
}
}


.scroll-top {
    display: none;
}
.fadeIn {
  animation-name: fadeIn;
   display: block;
}
.fadeOutUp {
  animation-name: fadeOutUp;
}
.fadeInDown {
  animation-name: fadeInDown;
}
.shake {
  animation-name: shake;
}
.pulse {
  animation-name: pulse;
}
.animated {
  animation-duration: .6s;
  animation-fill-mode: both;
  &.btn-call{
  	animation-duration: 3s;
  }
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.agreement{
	color:#999999;
	font-size: 0.625rem;
	max-width: 350px;
	line-height: 1.4;
	margin-top: 30px;
	margin-bottom: 15px;
    @media (max-width:480px) {
            margin-top: 10px;
    }
}
html {
    font-size: 16px;
    @media (max-width:992px) {
        font-size: 15px;
    }
}

body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1308px;
    width: 100%;
}
.content{
	position: relative;
	padding:3.8em 0 50px;
    @media(max-width: 767px){
        padding: 1em 0 30px;
    }
}

//discount-label
.discount-label {
    font-family: 'Calibri', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    background: $priceDiscountColor linear-gradient(45deg, #870313 0%, rgba(187, 5, 28, 0) 100%);
    width: 50px;
    height: 50px;
    font-size: 2rem;
}

//buttons
.btn-group {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .btn{
   		padding-left: 35px;
    }
}
.btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8125rem;
    color: $buttonDefaultColor;
    background-color: $buttonDefaultBg;
    transition: all .3s;
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    min-height: 40px;
    line-height: 40px;
    width: 100%;
    max-width: 202px;
    position: relative;
    display: inline-block;
    text-align:center;
    @media(max-width: 480px) {
        max-width: 100%;
    }
    &:hover,
    &:active {
        background-color: $buttonDefaultBgHover;
    }
    &.clear {
        padding-left: 35px;
        &.btn {
            max-width: 100%;
        }
    }
    &_color {
        background-color: $buttonColorBg;
        color: $buttonColorColor;
        &:hover,
        &:active {
            background-color: $buttonColorBgHover;
        }
    }

    &__icon{
        position:absolute;
        left:1.8em;
        @include centered(y);
    }
}
    .payment-icon {
        width:17px;
        height:14px;
        fill: #000;
    }

    .traidin-icon {
        width: 16px;
        height: 16px;
        fill: #000;
    }

    .interest-icon {
        width: 17px;
        height: 18px;
        fill: #fff;
    }
.clear-icon {
    width: 12px;
    height: 12px;
    fill: #000;
}

.close-icon {
    width: 13px;
    height: 13px;
    fill: #ababab;
}


.btn-block {
    &__item:not(:last-child) {
        margin-bottom: 14px;
    }
        @media(max-width: 767px) {
        text-align: center;
    }
}
.aside-wrapper{
    @media(max-width: 480px) {
    width: 100%;
    margin:0;
    }
}

.show-filters {
    display: none;
    position: absolute;
    right: 0;
    width: 16px;
    height: 16px;
    transform:rotate(180deg);
    cursor:pointer;
    transition:all .4s;
    opacity: .8;
    &_active{
        transform:rotate(0deg);
        opacity: 1;
    }
    &__icon{
        max-width: 100%;
        max-height: 100%;
        fill:$priceDiscountColor;
    }
    @media(max-width: 480px) {
        display: inline-block;
    }
}

.filters {
    padding: 15px 0 8px;
    background-color: $filtersBg;
    &__title {
        margin: 0;
        padding: 0 19px;
        color: $priceColor;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        @media(max-width: 767px) {
        padding: 0 10px;
    }
    }
}

.filter-section {
    padding: 17px 19px 12px;

    @media(max-width: 767px) {
        padding: 10px 10px 12px;
    }
    &:not(:last-child){
    border-bottom: 1px solid $dividerColor;
    }
    &__title {
        color: $priceColor;
        font-size: 0.875rem;
        margin: 0px;
        font-weight: 600;
        position: relative;
    }
}

.filter {
    margin: 0;
    padding: 20px 0 0;
    list-style-type: none;
    display:block;
    @media(min-width: 481px) {
    display:block !important;
    }
    @media(max-width: 480px) {
        display: none;
    }
    &__item:not(:last-child){
    	margin-bottom:13px;
    }
}
.clear-filters{
	margin-top: 2px;
}

.model {
	display: flex;
    padding-bottom: 18px;
    flex-wrap:wrap;
    &:not(:last-child) {
        border-bottom: 1px solid $dividerColor;
    }
    &:not(:first-child){
    	padding-top: 18px;
    }
    &__id{
        display: none;
    }
    &__discount-label {
    	position: absolute;
    	left: 21px;
    	top: 3px;
    }
    &__image-wrap {
        position: relative;
        text-align: center;
        padding-right: 14px;
        padding-top: 20px;
        width: 29.5%;
        @media (max-width:1199px) {
          width: 40%;
        }
        @media (max-width:970px) {
          width: 35%;
        }
        @media (max-width:850px) {
          width: 50%;
        }
        @media (max-width:480px) {
          width: 100%;
          padding-left: 10px;
          margin-bottom: 10px;
        }
    }
    &__info{
    	width: 49.9%;
    	padding:0 14px;
        @media (max-width:1199px) {
          width: 60%;
        }
        @media (max-width:970px) {
          width: 65%;
        }
        @media (max-width:850px) {
          width: 50%;
        }
        @media (max-width:480px) {
          width: 100%;
        }
    }
    &__params {
        column-count:2;
        @media (max-width: 850px) {
            column-count: 1;
        }
        @media (max-width: 480px) {
            column-count: 2;
        }
        @media (max-width: 420px) {
            column-count: 1;
        }
    }

    &__image {
        max-width: 100%;
    }
    &__name {
        padding: 0;
        margin-bottom: 12px;
        margin-top: -4px;
    }
    &__link {
        font-size: 1.125rem;
        font-weight: 600;
        color: $priceColor;
        text-decoration: none;
        &:hover{
        	border-bottom: 2px solid $priceColor;
        }
    }
    &__price {
        margin: 0;
        padding: 0;
        color: $priceColor;
        margin-bottom: .78em;
        font-size: 1.5625rem;
        font-weight: 700;
        &:after{
        	content: ' руб.'
        }
    }
    &__discount-price{
        margin: 0;
        padding: 0;
    }
    &__buttons{
    	padding-left: 15px;
    	padding-top: 33px;
		width: 20.6%;
        @media (max-width:1199px) {
          width: 100%;
          padding-right: 15px;
        }
    }
}


.params {
    margin: 0;
    padding: 0;
    list-style-type: none;
    &__item {
        color: $oldPriceColor;
        font-size: 0.8125rem;
        font-weight: 400;
        display: flex;
        &:not(:last-child) {
         margin-bottom: .65em;
        }
        &_hidden{
            display:none;
        }
    }
    &__val {
    	max-width: 155px;
        padding-left: 9px;
        line-height: 16px;
        color: $priceColor;
    }
}


.discount {
	margin-bottom: 1.2em;
    &__old-price {
        font-size: 0.875rem;
        font-weight: 400;
        color: $oldPriceColor;
        text-decoration: line-through;
        margin: 0;
        margin-bottom: .3em;
        &:after{
        	content: ' руб.'
        }
    }
    &__new-price {
    	color:$priceDiscountColor;
    	font-size: 1.5625rem;
    	font-weight: 700;
    	margin:0;
    	&:after{
        	content: ' руб.'
        }
    }
}
.show-more{
	text-align: center;
	padding-top: 20px;
}

.btn-round {
    right: 20px;
    bottom:50px;
    z-index: 10;
    position: fixed;
    // /display: none;
    @media (max-width:1501px) {
        right: 10px;
    }
    @media(max-width: 1500px){
    bottom: 50px;
    top:auto;
    }
    @media(max-width: 1450px){
    bottom: 70px;
    top:auto;
    }
    @media(max-width: 1200px){
    bottom: 80px;
    }
    @media(max-width: 992px){
    bottom: 20px;
    }
    &__item {
        &:not(:last-of-type) {
            margin-bottom: 30px;
        }
    }
    &__icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.scroll-top,
.btn-call {
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
    background: #d9dadc linear-gradient(45deg, rgba(228, 229, 230, 0) 0%, #ffffff 100%);
    transition: all.5s;
    position: relative;
    @media(max-width: 768px) {
        width: 50px;
        height: 50px;
        opacity: .8;
    }
    &:hover {
        box-shadow: 0px 0px 12px -2px rgba(171, 171, 171, 1);
         opacity: 1;
    }
}


.scroll-top {
    &__icon{
        fill:#000;
        width:26px;
        height:24px;
    }
}

.btn-call {
    box-shadow: 2px 3px 6px 0px rgba(171, 171, 171, 1);
    &:hover {
        box-shadow: 2px 3px 15px 0px rgba(171, 171, 171, 1);
    }
    &__icon{
        width:31px;
        height:31px;
        fill:$priceDiscountColor;
    }
}


.color-title{
	font-size: 1.625rem;
	background-color: $priceDiscountColor;
	font-weight: 700;
	padding: 6px 10px;
	color:#fff;
	display: inline-block;
}

.contacts {
	background-color: #fff;
	padding: 30px 30px 5px;
	width: 100%;
	&__title{
		 margin-bottom: 2px;
	}
}

.footer {
    position: relative;
    padding-top: 50px;
    min-height: 560px;
    &__container {
        position: relative;
        z-index: 1;
    }
    &__map {
        width: 100%;
        height:515px;
        position: absolute;
        top: 0;
        @media(max-width: 480px){
            position: relative;
        }
    }
    &__bottom {
        height: 45px;
        width: 100%;
        background-color: #fff;
        position: absolute;
        z-index: 1;
        bottom: 0;
    }
    &__contacts {
        max-width: 407px;
        position: absolute;
        left: 13px;
        @media(max-width: 480px){
            position: relative;
            left:auto;
            margin:0 auto;
        }
    }
    &__logo{
    	@include retina-sprite($bottom-logo-icon-group);
    	position: absolute;
    	top: -33px;
    	right: 30px;
    }
}


.contacts-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    &__item {
        margin-bottom: 26px;
    }
    &__title {
        color: #000;
        margin: 0;
        font-size: 0.875rem;
        font-weight: 700;
        margin-bottom: 5px;
    }
    &__value {
        display: block;
        color: $oldPriceColor;
        font-size: 0.875rem;
        font-weight: 400;
        margin: 0;
    }
    &__value:first-of-type,
    &__value:first-of-type + &__value {
        margin-bottom: 5px;
    }
}


.layout {
    background-color: rgba(0,0,0,.3);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1001;
    display: none;
}
.forms-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @media(max-width: 767px){
        padding:0 10px;
    }
}

.request-call,.interest-auto{
	width: 100%;
	text-align: center;
    display: none;
}
.request-call {
    &__form-submit {
        margin-top: 30px;
    }
}

.form {
    padding: 30px 30px;
    background-color: #fff;
    display: inline-block;
    max-width: 465px;
    width: 100%;
    text-align: left;
    position: relative;
    @media(max-width: 480px){
            padding: 15px 30px;
    }
    &__input {
        width: 100%;
        max-width: 378px;
        height: 34px;
        border: 1px solid #e4e5e6;
        transition: all .5s;
        outline: none;
        padding-left: 15px;
        font-size: 0.8125rem;
        &:focus {
            border-color: #6d6d6d;
        }
    }
    &__title {
        margin-bottom: 25px;
    }
    &__label {
        display: block;
        cursor: pointer;
        margin-bottom: 8px;
    }
    &__close{
    	position: absolute;
    	right: 10px;
    	top: 10px;
    	cursor: pointer;
    }
    &__submit {
        background-color: $priceDiscountColor;
        border: none;
        width: 100%;
        height: 40px;
        max-width: 160px;
        color: #fff;
        cursor: pointer;
        transition:all .3s;
        font-size: 0.8125rem;
        font-weight: 400;
        &:hover{
        	background-color:$buttonColorBgHover;
        }
    }
}


.form-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: $oldPriceColor;
    font-size: 0.8125rem;
    font-weight: 400;
    &__item {
    	position: relative;
        &:not(:last-child) {
            margin-bottom: 17px;
        }
        &_hidden{
            display: none;
        }
    }
}

.star{
	color: $priceDiscountColor;
}


    .formError {
        bottom: -15px !important;
        left: 0px !important;
        margin: 0px !important;
        opacity: 1 !important;
        top: auto !important;
        margin: 0px !important;
        font-size: 0.75rem;
        color:$priceDiscountColor;
    }
.required-field + .cyrillic-only,
.required-field + .incorrect-email {
    display: none;
}
