header.header
	#scene
		.layer(data-depth='0.00')
			img.header__img(src="templates/_ares/images/main-img.png", alt=`${title}` title=`${title}`)
		.layer(data-depth='0.20')
			img.header__img(src="templates/_ares/images/main-img.png", alt=`${title}` title=`${title}` style="transform: scale3d(1.05, 1.05, 1.05)")
	.header__content
		.container
			.row
				.col-xs-12
						h1.header__title Kia Sportage
						h2.header__subtitle 2.0 АКПП
	.header__price-wrap
		.container
			.row
				.col-xs-12
					p.header__main-price.main-price
						span.main-price__price 36 000