form(method="POST" id="request-call-form2")
	ul.form-list
		li.form-list__item
			label.form__label(for="request-call3") Ваше имя
				span.star  *
			input.form__input(type="text", id="request-call3" class="validate[required]")
		li.form-list__item
			label.form__label(for="request-call4") Контактный телефон
				span.star  *
			input.form__input(type="text", id="request-call4" class="validate[required] phone")
	input.form__submit.request-call__form-submit(type="submit", value="Отправить")