.main-price {
    max-width: 436px;
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    background-image: url(../images/main-price-bg.png);
    background-position: 0px 0px;
    width: 436px;
    height: 209px;
    &__price {
        position: absolute;
        color: $headerTitleColor;
        font-weight: 700;
        font-size: 3.75rem;
        margin-top: 10px;
        &:after{
        	content: ' руб'
        }
    }
}

.header {
    overflow: hidden;
    position: relative;
    &__content {
        position: absolute;
        width: 100%;
        top: 0;
        color: $headerTitleColor;
    }
    &__img {
        max-width: 100%;
        display: block;
    }
    &__title,
    &__subtitle {
        margin: 0;
    }
    &__title {
        font-size: 4rem;
        font-weight: 700;
        padding: 0.75em 0 0.33em 0;
    }
    &__subtitle {
        font-size: 2rem;
        font-weight: 400;
    }
    &__main-price {
    	margin-left: -10px;
    }
    &__price-wrap{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}