// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$bottom-logo-icon-name: 'bottom-logo-icon';
$bottom-logo-icon-x: 0px;
$bottom-logo-icon-y: 0px;
$bottom-logo-icon-offset-x: 0px;
$bottom-logo-icon-offset-y: 0px;
$bottom-logo-icon-width: 158px;
$bottom-logo-icon-height: 75px;
$bottom-logo-icon-total-width: 158px;
$bottom-logo-icon-total-height: 154px;
$bottom-logo-icon-image: '../images/sprite-img.png';
$bottom-logo-icon: (0px, 0px, 0px, 0px, 158px, 75px, 158px, 154px, '../images/sprite-img.png', 'bottom-logo-icon', );
$clear-name: 'clear';
$clear-x: 83px;
$clear-y: 138px;
$clear-offset-x: -83px;
$clear-offset-y: -138px;
$clear-width: 12px;
$clear-height: 12px;
$clear-total-width: 158px;
$clear-total-height: 154px;
$clear-image: '../images/sprite-img.png';
$clear: (83px, 138px, -83px, -138px, 12px, 12px, 158px, 154px, '../images/sprite-img.png', 'clear', );
$close-name: 'close';
$close-x: 65px;
$close-y: 138px;
$close-offset-x: -65px;
$close-offset-y: -138px;
$close-width: 13px;
$close-height: 13px;
$close-total-width: 158px;
$close-total-height: 154px;
$close-image: '../images/sprite-img.png';
$close: (65px, 138px, -65px, -138px, 13px, 13px, 158px, 154px, '../images/sprite-img.png', 'close', );
$interest-name: 'interest';
$interest-x: 0px;
$interest-y: 138px;
$interest-offset-x: 0px;
$interest-offset-y: -138px;
$interest-width: 17px;
$interest-height: 16px;
$interest-total-width: 158px;
$interest-total-height: 154px;
$interest-image: '../images/sprite-img.png';
$interest: (0px, 138px, 0px, -138px, 17px, 16px, 158px, 154px, '../images/sprite-img.png', 'interest', );
$payment-name: 'payment';
$payment-x: 22px;
$payment-y: 138px;
$payment-offset-x: -22px;
$payment-offset-y: -138px;
$payment-width: 16px;
$payment-height: 16px;
$payment-total-width: 158px;
$payment-total-height: 154px;
$payment-image: '../images/sprite-img.png';
$payment: (22px, 138px, -22px, -138px, 16px, 16px, 158px, 154px, '../images/sprite-img.png', 'payment', );
$phone-name: 'phone';
$phone-x: 80px;
$phone-y: 80px;
$phone-offset-x: -80px;
$phone-offset-y: -80px;
$phone-width: 36px;
$phone-height: 37px;
$phone-total-width: 158px;
$phone-total-height: 154px;
$phone-image: '../images/sprite-img.png';
$phone: (80px, 80px, -80px, -80px, 36px, 37px, 158px, 154px, '../images/sprite-img.png', 'phone', );
$placeholder-name: 'placeholder';
$placeholder-x: 0px;
$placeholder-y: 80px;
$placeholder-offset-x: 0px;
$placeholder-offset-y: -80px;
$placeholder-width: 75px;
$placeholder-height: 53px;
$placeholder-total-width: 158px;
$placeholder-total-height: 154px;
$placeholder-image: '../images/sprite-img.png';
$placeholder: (0px, 80px, 0px, -80px, 75px, 53px, 158px, 154px, '../images/sprite-img.png', 'placeholder', );
$traidin-name: 'traidin';
$traidin-x: 43px;
$traidin-y: 138px;
$traidin-offset-x: -43px;
$traidin-offset-y: -138px;
$traidin-width: 17px;
$traidin-height: 13px;
$traidin-total-width: 158px;
$traidin-total-height: 154px;
$traidin-image: '../images/sprite-img.png';
$traidin: (43px, 138px, -43px, -138px, 17px, 13px, 158px, 154px, '../images/sprite-img.png', 'traidin', );
$up-name: 'up';
$up-x: 121px;
$up-y: 80px;
$up-offset-x: -121px;
$up-offset-y: -80px;
$up-width: 25px;
$up-height: 30px;
$up-total-width: 158px;
$up-total-height: 154px;
$up-image: '../images/sprite-img.png';
$up: (121px, 80px, -121px, -80px, 25px, 30px, 158px, 154px, '../images/sprite-img.png', 'up', );
$bottom-logo-icon-2x-name: 'bottom-logo-icon@2x';
$bottom-logo-icon-2x-x: 0px;
$bottom-logo-icon-2x-y: 0px;
$bottom-logo-icon-2x-offset-x: 0px;
$bottom-logo-icon-2x-offset-y: 0px;
$bottom-logo-icon-2x-width: 316px;
$bottom-logo-icon-2x-height: 150px;
$bottom-logo-icon-2x-total-width: 316px;
$bottom-logo-icon-2x-total-height: 308px;
$bottom-logo-icon-2x-image: '../images/sprite-img@2x.png';
$bottom-logo-icon-2x: (0px, 0px, 0px, 0px, 316px, 150px, 316px, 308px, '../images/sprite-img@2x.png', 'bottom-logo-icon@2x', );
$clear-2x-name: 'clear@2x';
$clear-2x-x: 166px;
$clear-2x-y: 276px;
$clear-2x-offset-x: -166px;
$clear-2x-offset-y: -276px;
$clear-2x-width: 24px;
$clear-2x-height: 24px;
$clear-2x-total-width: 316px;
$clear-2x-total-height: 308px;
$clear-2x-image: '../images/sprite-img@2x.png';
$clear-2x: (166px, 276px, -166px, -276px, 24px, 24px, 316px, 308px, '../images/sprite-img@2x.png', 'clear@2x', );
$close-2x-name: 'close@2x';
$close-2x-x: 130px;
$close-2x-y: 276px;
$close-2x-offset-x: -130px;
$close-2x-offset-y: -276px;
$close-2x-width: 26px;
$close-2x-height: 26px;
$close-2x-total-width: 316px;
$close-2x-total-height: 308px;
$close-2x-image: '../images/sprite-img@2x.png';
$close-2x: (130px, 276px, -130px, -276px, 26px, 26px, 316px, 308px, '../images/sprite-img@2x.png', 'close@2x', );
$interest-2x-name: 'interest@2x';
$interest-2x-x: 0px;
$interest-2x-y: 276px;
$interest-2x-offset-x: 0px;
$interest-2x-offset-y: -276px;
$interest-2x-width: 34px;
$interest-2x-height: 32px;
$interest-2x-total-width: 316px;
$interest-2x-total-height: 308px;
$interest-2x-image: '../images/sprite-img@2x.png';
$interest-2x: (0px, 276px, 0px, -276px, 34px, 32px, 316px, 308px, '../images/sprite-img@2x.png', 'interest@2x', );
$payment-2x-name: 'payment@2x';
$payment-2x-x: 44px;
$payment-2x-y: 276px;
$payment-2x-offset-x: -44px;
$payment-2x-offset-y: -276px;
$payment-2x-width: 32px;
$payment-2x-height: 32px;
$payment-2x-total-width: 316px;
$payment-2x-total-height: 308px;
$payment-2x-image: '../images/sprite-img@2x.png';
$payment-2x: (44px, 276px, -44px, -276px, 32px, 32px, 316px, 308px, '../images/sprite-img@2x.png', 'payment@2x', );
$phone-2x-name: 'phone@2x';
$phone-2x-x: 160px;
$phone-2x-y: 160px;
$phone-2x-offset-x: -160px;
$phone-2x-offset-y: -160px;
$phone-2x-width: 72px;
$phone-2x-height: 74px;
$phone-2x-total-width: 316px;
$phone-2x-total-height: 308px;
$phone-2x-image: '../images/sprite-img@2x.png';
$phone-2x: (160px, 160px, -160px, -160px, 72px, 74px, 316px, 308px, '../images/sprite-img@2x.png', 'phone@2x', );
$placeholder-2x-name: 'placeholder@2x';
$placeholder-2x-x: 0px;
$placeholder-2x-y: 160px;
$placeholder-2x-offset-x: 0px;
$placeholder-2x-offset-y: -160px;
$placeholder-2x-width: 150px;
$placeholder-2x-height: 106px;
$placeholder-2x-total-width: 316px;
$placeholder-2x-total-height: 308px;
$placeholder-2x-image: '../images/sprite-img@2x.png';
$placeholder-2x: (0px, 160px, 0px, -160px, 150px, 106px, 316px, 308px, '../images/sprite-img@2x.png', 'placeholder@2x', );
$traidin-2x-name: 'traidin@2x';
$traidin-2x-x: 86px;
$traidin-2x-y: 276px;
$traidin-2x-offset-x: -86px;
$traidin-2x-offset-y: -276px;
$traidin-2x-width: 34px;
$traidin-2x-height: 26px;
$traidin-2x-total-width: 316px;
$traidin-2x-total-height: 308px;
$traidin-2x-image: '../images/sprite-img@2x.png';
$traidin-2x: (86px, 276px, -86px, -276px, 34px, 26px, 316px, 308px, '../images/sprite-img@2x.png', 'traidin@2x', );
$up-2x-name: 'up@2x';
$up-2x-x: 242px;
$up-2x-y: 160px;
$up-2x-offset-x: -242px;
$up-2x-offset-y: -160px;
$up-2x-width: 50px;
$up-2x-height: 60px;
$up-2x-total-width: 316px;
$up-2x-total-height: 308px;
$up-2x-image: '../images/sprite-img@2x.png';
$up-2x: (242px, 160px, -242px, -160px, 50px, 60px, 316px, 308px, '../images/sprite-img@2x.png', 'up@2x', );
$spritesheet-width: 158px;
$spritesheet-height: 154px;
$spritesheet-image: '../images/sprite-img.png';
$spritesheet-sprites: ($bottom-logo-icon, $clear, $close, $interest, $payment, $phone, $placeholder, $traidin, $up, );
$spritesheet: (158px, 154px, '../images/sprite-img.png', $spritesheet-sprites, );
$retina-spritesheet-width: 316px;
$retina-spritesheet-height: 308px;
$retina-spritesheet-image: '../images/sprite-img@2x.png';
$retina-spritesheet-sprites: ($bottom-logo-icon-2x, $clear-2x, $close-2x, $interest-2x, $payment-2x, $phone-2x, $placeholder-2x, $traidin-2x, $up-2x, );
$retina-spritesheet: (316px, 308px, '../images/sprite-img@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$bottom-logo-icon-group-name: 'bottom-logo-icon';
$bottom-logo-icon-group: ('bottom-logo-icon', $bottom-logo-icon, $bottom-logo-icon-2x, );
$clear-group-name: 'clear';
$clear-group: ('clear', $clear, $clear-2x, );
$close-group-name: 'close';
$close-group: ('close', $close, $close-2x, );
$interest-group-name: 'interest';
$interest-group: ('interest', $interest, $interest-2x, );
$payment-group-name: 'payment';
$payment-group: ('payment', $payment, $payment-2x, );
$phone-group-name: 'phone';
$phone-group: ('phone', $phone, $phone-2x, );
$placeholder-group-name: 'placeholder';
$placeholder-group: ('placeholder', $placeholder, $placeholder-2x, );
$traidin-group-name: 'traidin';
$traidin-group: ('traidin', $traidin, $traidin-2x, );
$up-group-name: 'up';
$up-group: ('up', $up, $up-2x, );
$retina-groups: ($bottom-logo-icon-group, $clear-group, $close-group, $interest-group, $payment-group, $phone-group, $placeholder-group, $traidin-group, $up-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
