extends ../_template

block variables
	- var title = 'Официальный дилер Киа в Беларуси, Автопалас-М Kia Минск. Продажа новых автомобилей Киа.'
	- var keywords = 'киа, kia,  киа Беларусь, киа Минск, официальный дилер киа, kia Беларусь, kia минск, сайт киа, дилер киа Минск, сайт Kia, Автопалас-М, kia.by, купить киа'
	- var description = 'Атлант-М на Независимости - Официальный дилер Kia Беларусь. Продажа автомобилей Киа, сервисное и гарантийное обслуживание, официальная гарантия Kia. Описание автомобилей киа, комплектация, цена.index.pug'

	- var engineFilter = ['2.0i Бензин', '1.6i Бензин' , '1.6d Дизель', '2.0d Дизель', '1.6 T-GDi Бензин']
	- var driveFilter = ['Полный', 'Передний']
	- var gearFilter = ['Автомат', 'Механика']
	- var positionFilter = ['На складе', 'В пути']
	- var buttons = ['Интересует это авто', 'Купить в рассрочку', 'Система Trade-In']
	- var contactTypeList = ['По телефону', 'Сообщение в Вайбере', 'По электронной почте']
	-
		var cars = [
			{
				modelName:'Kia Sportage QLE',
				modelId:'3456',
				modelImage:'templates/_ares/images/black.png',
				modelPrice:'52 000',
				discount: true,
				modelDiscountPrice:'41 250',
				bodyType:'Универсал',
				yearOfIssue:'2017',
				engineType:'2.0i',
				fuelType:'Бензин',
				gearType:'Механика',
				driveType:'Полный',
				bodyColor:'1К-Черный металлик',
				equipment:'Start'
			},{
				modelName:'Kia Sportage QLE',
				modelId:'9012',
				modelImage:'templates/_ares/images/model3.png',
				modelPrice:'52 000',
				discount: true,
				modelDiscountPrice:'37 820',
				bodyType:'Универсал',
				yearOfIssue:'2017',
				engineType:'2.0i',
				fuelType:'Дизель',
				gearType:'Автомат',
				driveType:'Передний',
				bodyColor:'AA9-Красный металлик',
				equipment:'Active + Пакет Навигация'
			},
			{
				modelName:'Kia Sportage GT(+Package)',
				modelId:'5678',
				modelImage:'templates/_ares/images/model2.png',
				modelPrice:'54 413',
				discount: false,
				modelDiscountPrice:'0',
				bodyType:'Легковой джип',
				yearOfIssue:'2016',
				engineType:'1.6T-GDi',
				fuelType:'Бензин',
				gearType:'Механика',
				driveType:'Полный',
				bodyColor:'Светло-коричневый металлик',
				equipment:'Active'
			},{
				modelName:'Kia Sportage QLE',
				modelId:'1234',
				modelImage:'templates/_ares/images/model3.png',
				modelPrice:'52 000',
				discount: true,
				modelDiscountPrice:'37 820',
				bodyType:'Универсал',
				yearOfIssue:'2017',
				engineType:'2.0i',
				fuelType:'Дизель',
				gearType:'Автомат',
				driveType:'Передний',
				bodyColor:'AA9-Красный металлик',
				equipment:'Active + Пакет Навигация'
			}
		]
	mixin buttons
		ul.btn-block.btn-group
			each item in buttons
				li.btn-block__item
						case item
							when "Интересует это авто"
								a(href="javascript:void(0);" data-form="interest-auto").btn-group__link.btn.btn_color.interest.showForm #{item}
									svg.interest-icon.btn__icon
										use(xlink:href="templates/_ares/images/sprite.svg#interest")
							when "Купить в рассрочку"
								a(href="#").btn-group__link.btn #{item}
									svg.payment-icon.btn__icon
										use(xlink:href="templates/_ares/images/sprite.svg#shopping-cart")
							when "Система Trade-In"
								a(href="#").btn-group__link.btn #{item}
									svg.traidin-icon.btn__icon
										use(xlink:href="templates/_ares/images/sprite.svg#traidin")
block content
	div.btn-round
		.btn-round__item.scroll-top(data-href=".header")
			svg.btn-round__icon.scroll-top__icon
				use(xlink:href="templates/_ares/images/sprite.svg#up")
		.btn-round__item.btn-call.animated.infinite.pulse.showForm(data-form="request-call")
			svg.btn-round__icon.btn-call__icon
				use(xlink:href="templates/_ares/images/sprite.svg#phone")
	.layout
		.forms-wrapper
			.request-call
				.form
					.close.form__close.closeForm
						svg.close-icon
							use(xlink:href="templates/_ares/images/sprite.svg#close")
					.color-title.form__title Заказать звонок
					include ../common/request-call-form
			.interest-auto
				.form
					.close.form__close.closeForm
						svg.close-icon
							use(xlink:href="templates/_ares/images/sprite.svg#close")
					.color-title.form__title Интересует это авто
					.form__tabs.tabs
						ul.tabs__nav
							li.tabs__nav-item(data-tab="1")
								a.tabs__nav-link.tabs__nav-link_active Заказать Тест-Драйв
							li.tabs__nav-item(data-tab="2")
								a.tabs__nav-link Обратный звонок
						ul.tabs__list
							li.tabs__item.tabs__item-1.tabs__item_active
								include ../common/test-drive-form
							li.tabs__item.tabs__item-2
								include ../common/request-call-form2
	include ../common/_header
	include ../common/_content
	footer.footer
		.container.footer__container
			.row
				.footer__contacts.contacts
					span.contacts__title.color-title Контакты
					ul.contacts-list
						li.contacts-list__item
							p.contacts-list__title Адрес
							span.contacts-list__value г. Минск, пр. Независимости, 202/3
						li.contacts-list__item
							p.contacts-list__title Телефон
							span.contacts-list__value +375 17 266 40 20
						li.contacts-list__item
							p.contacts-list__title E-mail
							a.contacts-list__link(href="mailto:info@kia.by") info@kia.by
						li.contacts-list__item
							p.contacts-list__title Режим работы
							span.contacts-list__value Отдел продаж автомобилей:
							span.contacts-list__value Пн - Пт 9:00 - 20:00
							span.contacts-list__value Сб - Вс 10:00 - 18:00

		#map.footer__map
		.footer__bottom
			.container
				.row
					.col-xs-12
						.footer__logo
